@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  /* font-family: 'Poppins', sans-serif; */
}
.message-box {
  scroll-behavior: smooth;
}

.message-box::-webkit-scrollbar{
  display: none;
}

.dark {
  background-color: #111;
  color: white;
}